# Activities week01

## Numpy : Manipulate Array of Temperature

Following Code is provided :

In [10]:
import numpy as np

# Define the temperature array
temps_C = np.array([18.5, 19, 20, 25.0, 2, 30, 13.9])

Print the average temperature for a week.

In [11]:
# Calculate the average temperature for the week
temp_avg = np.mean(temps_C)
print(f"Average temperature: {temp_avg:.2f}°C")

Average temperature: 18.34°C

Find the highest and lowest temperature recorded.

In [12]:
# Find the lowest and highest temperatures
temp_min = np.min(temps_C)
temp_max = np.max(temps_C)
print(f"temperature minimum: {temp_min:.2f}°C")
print(f"temperature maximum: {temp_max:.2f}°C")

temperature minimum: 2.00°C
temperature maximum: 30.00°C

Convert all temperatures to Fahrenheit and print the result. (Formula: $\smash[h]{F = 9C/5 + 32}$)

In [13]:
# Convert all temperatures to Fahrenheit
temps_F = (temps_C * 9/5) + 32
print("temperatures in Fahrenheit:")
for temp in temps_F:
    print(f"{temp:.2f}°F")

temperatures in Fahrenheit:
65.30°F
66.20°F
68.00°F
77.00°F
35.60°F
86.00°F
57.02°F

Identify the days (by index) where the temperature was above 20°C.

In [14]:
# Identify the days where the temperature was above 20°C
days_temp_C_above_20 = np.where(temps_C > 20)[0]
print("Days which temperature above 20°C:")
for day in days_temp_C_above_20:
    print(f"Day {day + 1}: {temps_C[day]:.2f}°C")

Days which temperature above 20°C:
Day 4: 25.00°C
Day 6: 30.00°C

## Numpy : Manipulate Array of Integers

Activity : Create a NumPy array of the first 10 positive integers. Then:

In [15]:
import numpy as np

# Create a NumPy array of the first 10 positive integers
arr = np.arange(1, 11)

Print the array.

In [16]:
# Print the array
print("Array:", arr)

Array: [ 1  2  3  4  5  6  7  8  9 10]

Print the shape and data type of the array.

In [17]:
# Print the shape and data type of the array
print("Shape:", arr.shape)
print("Data type:", arr.dtype)

Shape: (10,)
Data type: int64

Multiply each element by 2 and print the result.

In [18]:
# Multiply each element by 2 and print the result
arr_times_two = arr * 2
print("Multiplied by 2:", arr_times_two)

Multiplied by 2: [ 2  4  6  8 10 12 14 16 18 20]